<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158205059907-3juerh0lfst72cig3cm7f7t7oog43abn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158205059907-3juerh0lfst72cig3cm7f7t7oog43abn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>158205059907-c3clka6od0ah2pdj70g559ts6d6e9puj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaoHy6ktsGd4C8XN6N4GCBEJEUSNlj-Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>158205059907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sVideoApp</string>
	<key>PROJECT_ID</key>
	<string>videe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>videe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158205059907:ios:f5325cd06aee9b6a2445f6</string>
	<key>DATABASE_URL</key>
	<string>https://videe-app.firebaseio.com</string>
</dict>
</plist>